<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>章果科技数据中台</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" /> 

	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/font/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/font/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/img/login_bg.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<!--form  class="login100-form validate-form"-->
					<span class="login100-form-title p-b-49">章果科技</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
						<span class="label-input100">账号</span>
						<input class="input100" type="text" name="telphone" id="telphone" placeholder="请输入手机号" autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input class="input100" type="password" name="password" id="password" placeholder="请输入密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="请输入验证码">
                        <span class="label-input100">验证码</span>
                        <input class="img_code" type="text" name="text" id="verify_code" onblur="verifyCode()" placeholder="请输入验证码">
                        <span class="focus-imgcode" data-symbol="&#xf183;"></span>
                        <img onclick="refresh_img_code()" class="focus-imgcode-img" id="img_code" src="">
					</div>

					<div class="text-right p-t-8 p-b-31">
						<a href="ycyl" class="txt1">忘记密码？</a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="get_token()">登 录</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>第三方登录</span>
					</div>

					<div class="flex-c-m">
						<a href="#" onclick="refresh_img_code()" class="login100-social-item bg1">
							<i class="fa fa-wechat"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-qq"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-weibo"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-25">
						<a href="/register" class="txt2">立即注册</a>
					</div>
				<!--/form-->
			</div>
		</div>

	</div>

	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/js/main.js"></script>
    <script src="/static/js/des3.js"></script>
</body>
    <script>
        window.onload=function(){
            console.log("初始化页面触发调用验证码接口");
            refresh_img_code();
        };
    </script>  
</html>

<script type="text/javascript" charset="utf-8">

    function get_token() {
        var telphone = document.getElementById("telphone").value;
        var password = document.getElementById("password").value;
        var verifycode = document.getElementById("verify_code").value;
        var phoneReg=/1[3-9]+\d{9}/;

        if(!telphone || $.trim(telphone) == ''){
            alert("手机号码不能为空！");
            $("#telphone").focus();
            return false;
        }

        if(!phoneReg.test(telphone)){
            alert("请输入正确的手机号码格式！");
            $("#telphone").focus();
            return false;
        }

        if(!password || password == ''){
            alert("请输入密码！");
            $("#password").focus();
            return false;
        }

        if (password.length <8) {
            alert("请输入8-14位数字、字母(区分大小写)及特殊字符组合的密码!");
            $('#password').val("");
            $('#againpswd').val("");
            $("#password").focus();
            return false;
        }
        if (password.length >14) {
            alert("请输入8-14位数字、字母(区分大小写)及特殊字符组合的密码!");
            $('#password').val("");
            $('#againpswd').val("");
            $("#password").focus();
            return false;
        }

        var flag = isValidPwd($("#password").val());
        if(!flag){
            alert("请输入8-14位数字、字母(区分大小写)及特殊字符组合的密码!");
            return false;
        }

        if(!verifycode || verifycode == ''){
            alert("请输入验证码！");
            $("#verify_code").focus();
            return false;
        }

        var timeCode = (Date.parse(new Date()))/1000;
        var key = pad(timeCode, 24);

        var encrypt_pwd = des3_encrypt(key, password);
        console.log(encrypt_pwd);

        var data= {
            data: JSON.stringify({
                telphone: telphone,
                password: encrypt_pwd,
                timecode: key,
                verifycode: verifycode.toLowerCase()
            }),
        };

        $.ajax({
            type: "POST",
            url: "/api/auth/generate_token",
            dataType: "json",
            data: data,
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                console.log(result);
                if (result.code == "Success") {
                    login_token(result.token);
                }

                if(result.code == "error username or password"){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    function setCookie(cname, cvalue)
    {
      var d = new Date();
      var hours = 1;
      d.setTime(d.getTime()+(hours*60*60*1000));
      var expires = "expires="+d.toGMTString();
      document.cookie = cname + "=" + cvalue + "; " + expires;
    }

    function login_token(token) {
        var data= {
            data: JSON.stringify({
                _token: token
            }),
        };

        $.ajax({
            type: "POST",
            url: "/api/auth/login_token",
            dataType: "json",
            data: data,
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                console.log(result);
                if(result['code'] == "Success"){
                    sessionStorage.setItem("token", result['token']);
                    setCookie("token", result['token']);
                    window.location.href="/ycyl/?token="+result['token'];
                }

                if(result.code == "error username or password"){
                    alert(result.msg);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    function login_wechat() {
        var data= {
            data: JSON.stringify({
            }),
        };

        $.ajax({
            type: "POST",
            url: "/api/auth/wechat_code",
            dataType: "json",
            data: data,
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                console.log(result);
                window.location.href=result;
            },
            error : function() {
                alert("异常！");
            }
        });
    }
    
    function refresh_img_code(){
        $.ajax({
            type: "GET",
            url: "/api/auth/imgcode",
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                $("#img_code").attr("src", result);
            },
            error : function() {
                alert("异常！");
            }
        });
    }
    
    function verifyCode() {
        var verifycode = document.getElementById("verify_code").value;

        var data= {
            data: JSON.stringify({
                verifycode: verifycode.toLowerCase()
            }),
        };

        $.ajax({
            type: "POST",
            url: "/api/auth/verifycode",
            dataType: "json",
            data: data,
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                console.log(result);
                if(result['code'] == "0"){
                    alert(result['msg']);
                }
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    function isValidPwd(test){
        var level = 0;
        if(test.match(/([a-z])+/)){
            level = level +1;
        }
        if(test.match(/([0-9])+/)){
            level = level +1;
        }
        if(test.match(/([A-Z])+/)){
            level = level +1;
        }
        if(test.match(/[^a-zA-Z0-9]+/)){
            level = level +1;
        }
        if(level < 3){
            return false;
        }else{
            return true;
        }
    }

    function getLevel(s){
        var level = 0;
        if(s.match(/([a-z])+/)){
            level++;
        }
        if(s.match(/([0-9])+/)){
            level++;
        }
        if(s.match(/([A-Z])+/)){
            level++;
        }
        if(s.match(/[^a-zA-Z0-9]+/)){
            level++;
        }
        var strength ="";
        if(level == 1){
            strength = "弱";
        }else if(level == 2){
            strength = "中";
        }else if(level == 3){
            strength = "强";
        }else if(level == 4){
            strength = "极强";
        }
        return strength;
    }
</script>