<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>城市下拉选择</title>
    <script src="/static/js/jquery.min.js"></script>
    <link href="/static/css/myareaselect.css" rel="stylesheet" />
    <script src="/static/js/jquery.myareaselect.js"></script>
</head>
<body>
    <div style="margin: 0 auto; width: 300px; height: 100px; margin-top: 30px;">
        <div id="sltareaid"></div>
        <input id="hidSltID" type="hidden" value="0" />
        <br /><br /><br /><br /><br />
        <div id="sltareaid1"></div>
        <input id="hidSltID1" type="hidden" value="6204" />
        <script>
            $(function () {
                var mysltarea = $("#sltareaid").areaselect({ hidelm: "hidSltID" });
                var mysltarea1 = $("#sltareaid1").areaselect({ hidelm: "hidSltID1" });
            });
        </script>
    </div>
</body>
</html>