<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>中国电信远程医疗云</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="author" content="CSS5, css5.com.cn" />
		<link rel="stylesheet" href="/static/css/ycyl.css">
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
	</head>
	<body>
		<div class="main">
			<div class="page home_page"></div>
			<div class="page first_page"></div>
			<div class="page second_page"></div>
			<div class="page third_page"></div>
			<div class="page fourth_page"></div>
			<div class="page fifth_page">
				<div class="form-page">
					<form id="reg_form">
						<label for="">请输入您的医院信息</label>
						<br>
						<label for="">为您快速开通账号</label>
						<ul>
							<li id="district">
								<select name="" id="">
									<option value="">请选择省份</option>
									<option value="">甘肃</option>
									<option value="">宁夏</option>
								</select>
							</li>
							<li id="hospital">
								<input type="text" placeholder="医院名称">
							</li>
							<li id="telphone">
								<input type="text" placeholder="联系电话">
							</li>
							<li id="conname">
								<input type="text" placeholder="联系人姓名">
							</li>
							<li id="email">
								<input type="text" placeholder="邮箱">
							</li>
							<li>
								<div class="title">
									<i></i>
									<span>请选择业务需求(可多选)</span>
								</div>
								<div class="box" id="sysname">
									<div class="box_first">
										<input class="checkbox" type="checkbox">
										<span class="name">远程医疗云</span>
									</div>
									<div class="box_second">
										<input class="checkbox" type="checkbox">
										<span class="name">医疗影像云</span>
									</div>
								</div>
							</li>
							<li class="but">
								<buttom type="submit" onclick="register()">免费开通</buttom>
							</li>
						</ul>
						<div class="tell"> 
							<span>
								业务咨询热线: 400-917-1133
							</span>
							<img src="/static/img/tell.png" alt="">
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
    <script type="text/javascript">
        function register() {
            var data= {
                data: JSON.stringify({
                    'id': 1,
                    'district': "甘肃省",
                    'hospital': "兰州市第二人民医院",
                    'telphone': "17693186908",
                    'conname': "章果",
                    'email': "biyan_111@126.com",
                    'sysname': "远程医疗云"
                }),
            };

            $.ajax({
                type: "POST",
                url: "/ycyl/api/register",
                dataType: "json",
                data: data,
                contentType: "application/x-www-form-urlencoded",
                success: function (result) {
                    console.log(result);
                    if (result.status == 200) {
                        alert("SUCCESS");
                    }
                },
                error : function() {
                    alert("异常！");
                }
            });
        }
    </script>
